#plateau {
  height : 500px;
  width : 1000px;
  background : #6ec9e5;
  position : relative;
}

#mario {
  height : 65px;
  width : 32px;
  background-image : url(img/marios.png);
  position : absolute ;
  bottom :  0;
}


#mario.p1 {
    background-position-x: 32px;
}

#mario.p2 {
  background-position-x: 64px;
}
#mario.p3 {
  background-position-x: 96px;
}

#mario.reverse {
  transform : rotate(180deg) scaleY(-1);
}
